---
import type { CollectionEntry } from 'astro:content';
import CategoryBadge from './CategoryBadge.astro';

interface Props {
	post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;
---

<a class="post-card" href={`/blog/${post.id}`}>
	<div class="post-card__meta">
		<span>
			{post.data.pubDate.toLocaleDateString('es-ES', {
				year: 'numeric',
				month: 'short',
				day: 'numeric',
			})}
		</span>
		<CategoryBadge id={post.data.category} />
		<span>{post.data.minutes} min</span>
	</div>
	<h3 class="post-card__title">{post.data.title}</h3>
	<p class="post-card__desc">{post.data.description}</p>
</a>
