---
import { site } from '../data/site';
import BioTag from './BioTag.astro';

function joinItems(items: readonly string[]) {
	return items.map((item, i) => ({
		item,
		sep: i === 0 ? '' : i === items.length - 1 ? ' and ' : ', ',
	}));
}

const { aboutSite } = site;
---

<div class="site-about">
	<p class="site-about__lead">
		<span class="site-about__lead-text">{aboutSite.leadBefore}</span>{' '}
		<a class="site-about__domain" href="#profile">{site.domain}</a>
		<span class="site-about__lead-text">{aboutSite.leadAfter}</span>
	</p>

	{aboutSite.body.map((line) => (
		<p class="site-about__out">{line}</p>
	))}

	<div class="tag-box tag-box--c site-about__build">
		<div class="tag-box__key">build</div>
		<div class="tag-box__text">
			<span class="site-about__out-inline">{aboutSite.builtBefore}</span>{' '}
			{joinItems(aboutSite.builtWith).map(({ item, sep }) => (
				<>
					{sep}<BioTag label={item} />
				</>
			))}
			<span class="site-about__out-inline">{aboutSite.builtMid}</span>{' '}
			{joinItems(aboutSite.builtAlso).map(({ item, sep }) => (
				<>
					{sep}<BioTag label={item} />
				</>
			))}
			<span class="site-about__out-inline">{aboutSite.builtAfter}</span>
		</div>
	</div>

	{aboutSite.closing.map((line) => (
		<p class="site-about__lang">{line}</p>
	))}
</div>
