---
import { tastes } from '../data/site';
---

<div class="console-doc tastes">
	<section class="tastes__section">
		<p class="stack-group__label">figures</p>
		<div class="tastes__figures">
			{tastes.figures.map((figure) => (
				<p class="tastes__figure">
					<span class="tastes__name">{figure.name}</span><span class="tastes__colon">:</span>
					<span class="tastes__desc">{figure.text}</span>
				</p>
			))}
		</div>
	</section>

	<section class="tastes__section">
		<p class="stack-group__label">movies</p>
		<table class="term-table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">title</th>
					<th scope="col">year</th>
				</tr>
			</thead>
			<tbody>
				{tastes.movies.map((movie) => (
					<tr>
						<td class="term-table__rank">{movie.rank}</td>
						<td>{movie.title}</td>
						<td class="term-table__muted">{movie.year}</td>
					</tr>
				))}
			</tbody>
		</table>
	</section>

	<section class="tastes__section">
		<p class="stack-group__label">series</p>
		<ul class="tastes__lines">
			{tastes.series.map((title) => (
				<li>{title}</li>
			))}
		</ul>
	</section>

	<section class="tastes__section" id="music">
		<p class="stack-group__label">music</p>
		<p class="console-doc__line">
			playlist <span class="tastes__muted">→</span>{' '}
			<a class="tastes__link" href={tastes.spotify.playlistUrl} target="_blank" rel="noreferrer">
				{tastes.spotify.playlistLabel}
			</a>
		</p>
	</section>
</div>
