---
import Icon from './Icon.astro';
import { site } from '../data/site';
---

<div class="whoami">
	<div class="whoami__main">
		<div class="whoami__photo">
			<img src={site.avatar} alt={`Photo of ${site.name}`} width="160" height="160" loading="eager" />
		</div>
		<div class="whoami__fields">
			<div class="whoami__row">
				<span class="whoami__key">name</span>
				<span class="whoami__val whoami__val--name">{site.name}</span>
			</div>
			<div class="whoami__row">
				<span class="whoami__key">role</span>
				<span class="whoami__val whoami__val--role">{site.role}</span>
			</div>
			<div class="whoami__row">
				<span class="whoami__key">handle</span>
				<span class="whoami__val">
					<a class="whoami__handle" href="/about">{site.handle}</a>
				</span>
			</div>
			<div class="whoami__row">
				<span class="whoami__key">location</span>
				<span class="whoami__val">{site.location}</span>
			</div>
			<div class="whoami__row whoami__row--links">
				<span class="whoami__key">social</span>
				<span class="whoami__val">
					<span class="whoami__icons">
						{site.social.map((s) => (
							<a
								href={s.href}
								title={s.label}
								aria-label={s.label}
								target={s.href.startsWith('http') ? '_blank' : undefined}
								rel={s.href.startsWith('http') ? 'noreferrer' : undefined}
							>
								<Icon name={s.icon} size={18} />
							</a>
						))}
					</span>
				</span>
			</div>
		</div>
	</div>

	<div class="tag-box tag-box--c">
		<div class="tag-box__key">promise</div>
		<div class="tag-box__text">{site.tagline}</div>
	</div>
</div>
